<div class="gen-nav">
    <nav class="nav">
        <div class="title">
            <div class="circle"></div>
            <h2>Title</h2>
        </div>
        <div class="rightLinks">
            <div class="links">
                <ul>
                    <li>First link</li>
                    <li>Second link</li>
                    <li>Third link</li>
                </ul>
            </div>
            <a href="#">Login</a>
        </div>
    </nav>
</div>