{% extends 'base.html.twig' %}

{% block title 'BidGames ! Accueil' %}

{% block body %}

<body>

<div class="gen-accueil">
    <div class="accueil">
        <div class="title">
            <h1>BidGames</h1>
        </div>
        <div class="image">

        </div>
    </div>

    <div class="rectangle rectangle1"></div>
    <div class="rectangle rectangle2"></div>
    <div class="rectangle rectangle3"></div>
</div>

<div class="gen-flash">
    <div class="flash">
        <div class="loading">
            <div class="loadingBar">
                <div class="loaded"></div>
            </div>
            <p>Vente Flash</p>
        </div>
        <div class="genCards">
            <div class="card">
                <div class="imageCard">

                </div>
                <div class="textCard">
                    <h3>Titre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, delectus xcepturi.
                        dipisicing elit. Tempore, delectus xcepturi.</p>
                </div>
            </div>
        </div>
        <div class="buttonSee">
            <a href="#">See more</a>
        </div>
    </div>
</div>
<div class="genVente">
    <div class="vente">
        <div class="loading">
            <div class="loadingBar">
                <div class="loaded"></div>
            </div>
            <div class="loadingText">
                <p>Ventes en enchère</p>
                <h3>Filter</h3>
                <input type="text" placeholder="Search..">
            </div>
        </div>
        <div class="nextVente">
            <div class="barVente1"></div>
            <h2>Prochaines Ventes</h2>
            <div class="barVente2"></div>
        </div>
        <div class="generalCardVente">
            <div class="genCardVente">
                <div class="cardVente">
                    <div class="imageVente"></div>
                    <div class="textVente">
                        <div class="titleVente">
                            <h2>Description</h2>
                        </div>
                        <div class="linksVente">
                            <a href="#">Lieu</a>
                            <a href="#" class="midLink">Commisaire Priseur</a>
                            <a href="#">Vendeur</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./app.js"></script>
<script type="text/javascript" src="magicscroll/magicscroll.js"></script>

</body>

{% endblock %}